<div class="row">
    <div class="col-md-6 offset-3 alert alert-dismissible text-center">
        <h2>Be Sure of Your Entered Data.</h2>
        <p>Your data may be not accepted for several reasons .</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>