@model ContactUsVM;


   <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Con">
                                Contact Us
    </button>
    <div class="container">
     <div class="row">
    <div class="modal" tabindex="-1" role="dialog" id="Con">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contact Us!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-body">
        <form asp-controller="Account" asp-action="Contactus">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Full Name</label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email"asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">Message</label>
                        <input asp-for="Notes" class="form-control" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Send" />
                    </div>
                </form>      
            </div>
         </div>
        </div>
      </div>
     </div>
    </div>
